# Node 1 (Workers) IP
PC1_IP=XX.XX.XX.XX

# Node 2 (Judge & API) IP
PC2_IP=yy.yy.yy.yy

# =======================================
# Mode configuration
# Fast - uses only one model on PC1.
FAST_MODEL=speakleash_Bielik-11B-v3.0-Instruct-Q5_K_S.gguf

# Pro - uses two distinct models as Workers on PC1 and Judge on PC2
PRO_WORKER_1_MODEL=Bielik-4.5B-v3.0-Instruct.Q8_0.gguf
PRO_WORKER_2_MODEL=Bielik-4.5B-v3.0-Instruct.Q8_0-worker2.gguf
PRO_JUDGE_MODEL=speakleash_Bielik-11B-v3.0-Instruct-Q5_K_S.gguf

# Coding - same as Pro, but with different models (coders)
CODING_WORKER_1_MODEL=Qwen2.5-7B-Instruct-IQ4_XS.gguf
CODING_WORKER_2_MODEL=meta-llama-3.1-8b-instruct-iq4_nl-imag.gguf
CODING_JUDGE_MODEL=Qwen3.5-9B-Q6_K.gguf

# ======================================
# Internal API Endpoints - The main API on PC2 will communicate with these lightweight Model Managers
PC1_MANAGER_URL=http://${PC1_IP}:8001
PC2_MANAGER_URL=http://${PC2_IP}:8003
