# .env.example
# =======================================

# Node 0 (API) IP
PC0_IP=00.00.00.00

# Node 1 (Worker 1) IP
PC1_IP=zz.zz.zz.zz

# Node 2 (Worker 2) IP
PC2_IP=yy.yy.yy.yy

# Node 2 (Judge & API) IP
PC3_IP=xx.xx.xx.xx

# =======================================
# Mode configuration
# Fast - uses only one model on PC2.
FAST_MODEL=

# Pro
PRO_WORKER_1_MODEL=
PRO_WORKER_2_MODEL=
PRO_JUDGE_MODEL=

# Coding
CODING_WORKER_1_MODEL=
CODING_WORKER_2_MODEL=
CODING_JUDGE_MODEL=

# ======================================
# Internal API Endpoints
PC1_MANAGER_URL=http://${PC1_IP}:8001
PC2_MANAGER_URL=http://${PC2_IP}:8002
PC3_MANAGER_URL=http://${PC3_IP}:8003
